//COLORS
//palette based on images

$color-pale-1: #cbbc93;
$color-pale-2: #dfdcd3;
$color-pale-3: #f0f0f0;

$color-pale-4:rgba(171, 159, 144, 0.431);
$color-pale-5:rgba(226, 217, 212, 0.149);
$color-pale-6:rgba(85, 63, 45, 0.102);

$color-dark: #00080b;

$color-coffee: #725037;
$color-coffee-pale: #948473;
$color-coffee-dark: #3e240d;
$color-coffee-o: #b65f44;

$color-denim: #17354d;
$color-denim-pale: #a9d7ee;


// Fonts
$main-font: "Encode Sans", sans-serif;
$special-font1: "Cormorant Upright";
$special-font2: "Covered By Your Grace", sans-serif;

// Font weights
$light: 100;
$regular: 400;
$bold: 700;

// Grids
$grid-width: 114rem; //
$gutter-y: 8rem;
$gutter-x: 6rem;