.about {
  &__list li img {
    width: 10.5rem;
    border-radius: 50%;
    padding:.3rem;
      }
li{
  display:inline-block;
}
  .container__motto{
    margin-bottom:0;
    padding-bottom:0;
  }

}
