.container {
  max-width: $grid-width;
  background-color: transparent;
  margin: 0 auto;
  padding: 2rem 3rem;

  &:not(:last-child) {
    //.container:not() ===> we select everything except the last child
    margin-bottom: $gutter-y;
  }

  @include clearfix;

  img {
    max-width: 100%;
  }
  .pale--bg {
    background-color: $color-pale-2;
    border: 2px solid $color-coffee-dark;
  }

  .col {
    padding: 2rem 2rem;
    display: block;
    width: 100%;

    &:not(:last-child) {
      margin-right: $gutter-x;
    }
  }


}
.center{
  text-align: center;
  margin: auto 0;
}