.header {
    display: block;
    height: 90vh;
    background-image: linear-gradient(
        to left top,
        rgba($color-denim-pale, 0.277),
        rgba($color-coffee-o, 0.563)
      ),
      url(../images/bg3.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
  
    &__text-box {
      position: absolute;
      top: 35%;
      left: 0;
      max-width: 80rem;
    }
  
    &__top span,
    &__mid span {
      display: block;
    }
  
    &__btn {
      position: absolute;
      left: 2rem;
      display: block;
      padding: 2rem;
  
      &:hover {
        color: $color-coffee-dark;
        letter-spacing: 0.4rem;
      }
    }
  }
  