// ------------General------------------------------------ //

html {
  font-family: $main-font;
}
p {
  margin-top: 2rem;
  margin-bottom: 0.2rem;
  line-height: 2.3rem;
}

.spacious {
  margin-top: 2rem;
  margin-bottom: 0.2rem;
  line-height: 3rem;
}

ul > li {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  list-style-type: none;
}

[class^="col-"] {
  font-size: 1.5rem;
}
// ------------End General------------------------------------ //

// ------------Header ------------------------------------ //
.header {
  &__text-box {
    font-size: 2rem;
    font-weight: $regular;
    color: $color-pale-3;
  }

  &__top {
    font-size: 3rem;
    font-weight: $regular;
    letter-spacing: 0.4rem;
    font-family: $special-font2;
  }

  &__mid {
    font-size: 1.5rem;
  }

  &__btn {
    text-align: center;
    font-size: 1.5rem;
    &:hover {
      color: $color-coffee-dark;
      letter-spacing: 0.4rem;
    }
  }
}
[class$="__header"] {
  text-align: center;
  letter-spacing: 1.1rem;
  font-family: $special-font2;
  font-weight: $bold;
  font-size: 4rem;
  margin: 4rem;

  &::first-letter {
    text-decoration: overline;
    text-decoration-color: $color-coffee-o;
  }
}
// ------------End Header ------------------------------------ //
// ------------Navigation------------------------------------ //
.nav {
  text-align: center;
  color: $color-pale-3;

  & ul > li {
    & a:active,
    a:link,
    a:visited,
    a::after,
    a::before {
      color: $color-pale-3;
      text-decoration: none;
    }

    & a:hover {
      text-decoration: overline;
    }
  }
  &__title {
    height: 2rem;
    font-family: $special-font1;
    font-size: 4rem;
  }
}

// ------------ End Navigation------------------------------------ //
// ------------ About ------------------------------------ //
.motto {
  font-size: 4.5rem;
  font-family: $special-font2;
}

.about {
  .empty {
    display: none;
  }
}

// ------------Contact------------------------------------ //

// ------------Footer------------------------------------ //
footer {
  & ul > li {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    list-style-type: none;

    & a:active,
    a:link,
    a:visited,
    a::after,
    a::before {
      color: $color-pale-3;
      text-decoration: none;
    }

    & a:hover {
      text-decoration: overline;
    }
  }

  & h3 {
    font-family: $special-font2;
    color: $color-pale-3;
    letter-spacing: 0.3rem;
    font-size: 2rem;
  }
}
// ------------End Footer------------------------------------ //

// ------------Menu------------------------------------ //
// Table
.menu__table {
  & tbody td {
    font-size: 1.3rem;
  }
  & th:nth-child(3) {
    color: $color-coffee-dark;
    font-size: 1.1rem;
  }

  & thead {
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    color: $color-pale-2;
  }

  & h3 {
    font-family: $special-font1;
    font-size: 2rem;
  }
}
hr {
  border: 1px solid $color-coffee-dark;
  margin: 1rem 0.4rem;
}
// End Table
// ------------ End Menu------------------------------------ //
// ------------ Testimonials------------------------------------ //
.testimonials{
  &__show--big i {
  color: $color-coffee-o;
}
} 
// ------------ Upcoming------------------------------------ //
.upcoming {
  a:active,
  a:link,
  a:visited,
  a::after,
  a::before {
    color: $color-pale-3;
    text-decoration: none;
  }

  a:hover {
    text-decoration: overline;
  }
}
// ------------ End Upcoming------------------------------------ //
