.about,
.menu,
.testimonials,
.upcoming {
  padding: 10rem 0;
  margin-top: -2vh;
}

.about,
.testimonials, footer {
  background-color: $color-pale-2;
}

.menu {
  background-color: $color-coffee-o;
}

.upcoming {
  background-color: $color-denim;
  color:$color-pale-1;
}
